.carousel {
    height: 100%;
    display: block;
} 

:host ::ng-deep .carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:host ::ng-deep .carousel-item img {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}